
/* Your CSS Code here. */
.holder{
	display : grid;
	grid-template-columns:repeat(2, 2fr);
	grid-template-rows: repeat(2 ,2fr);
	border: 2px solid black;
	width : 200px;
	height : 200px;
	}
.item-1{
	border : 1px solid black;
	background-color: blue;
}
.item-2{
	border : 1px solid black;
	background-color: pink;
}
.item-3{
	border : 1px solid black;
	background-color: purple;
}
.item-4{
	border : 1px solid black;
	background-color: darkgreen;
}


